@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --red: #f9004d;
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}
*::selection {
  background: var(--red);
  color: #333;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
}
html::-webkit-scrollbar {
  width: 1.4rem;
}
html::-webkit-scrollbar-track {
  background: #222;
}
html::-webkit-scrollbar-thumb {
  background: var(--red);
}
body {
  background: darkorchid;
  overflow-x: hidden;
  padding-left: 35rem;
}
section {
  min-height: 100vh;
  padding: 1rem;
}
.btn {
  padding: 0.7rem 3rem;
  background-color: #333;
  color: #fff;
  cursor: pointer;
  margin-top: 1rem;
  font-size: 2rem;
  border-radius: 5rem;
  text-transform: capitalize;
}

.btn i {
  padding: 0.5rem;
  font-size: 1.8rem;
}

.btn:hover {
  background-color: var(--red);
}
/*header section*/
.heading {
  text-align: center;
  margin: 0 6rem;
  font-size: 4rem;
  padding: 1rem;
  border-bottom: 0.1rem solid #fff4;
  color: #fff;
}

.heading span {
  color: var(--red);
}
header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  height: 100%;
  width: 35rem;
  background: lightgreen;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  text-align: center;
}
/*user name*/
.user .name {
  top: 5rem;
  font-size: 4rem;
  text-transform: capitalize;
}
.user .name a {
  color: var(--yellow);
  font-size: 3rem;
  position: relative;
}
.user .name span {
  font-family: "clicker Script", cursive;
  font-size: 3rem;
}

/*user post*/
header .user .post {
  font-size: 2rem;
  color:orange;
}
.home p {
  display: block;
  text-align: justify;
  color: orangered;
  justify-content: center;
  font-size: 2.5rem;
  padding-top: 2rem;
  word-spacing: 0.3rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

/*nav bar*/
header .navbar {
  width: 100%;
}
header .navbar ul {
  list-style: none;
  padding: 1rem 3rem;
  width: 100%;
}
header .navbar ul li a {
  display: block;
  padding: 1rem;
  margin: 1.5rem 0;
  background: #333;
  color: #fff;
  font-size: 2rem;
  border-radius: 5rem;
}
header .navbar ul li a:hover {
  background: var(--red);
}

#menu {
  position: fixed;
  top: 2rem;
  right: 2rem;
  background: #333;
  color: #fff;
  cursor: pointer;
  font-size: 2rem;
  padding: 1rem 1.5rem;
  z-index: 1000;
  display: none;
}
/* HOME*/
.home {
  display: flex;
  justify-content: center;
  flex-flow: column;
  padding: 0 15rem;
}
.home h3 {
  font-size: 2.5rem;
  color: #fff;
}
.home h1 {
  font-size: 5rem;
  word-spacing: 0.5rem;
  cursor: pointer;
}
h1 span {
  transition: 0.5s linear;
}
h1:hover span:nth-child(1) {
  margin-right: 0.8rem;
}

h1:hover span:nth-child(2) {
  margin-left: 3rem;
}
h1:hover span {
  color: var(--yellow);
  text-shadow: 0 0 10px var(--yellow), 0 0 20px var(--red),
    0 0 40px var(--yellow);
}
.home h1 span {
  color: var(--yellow);
}

.home p {
  font-size: 2rem;
  color: #eee;
  padding: 1rem 0;
}
.home p span {
  color: crimson;
}
/* ABOUT*/
.about .row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1rem 0;
}
.about .row .info {
  flex: 1 1 48rem;
  padding: 2rem 1rem;
  padding-left: 6rem;
}
.about .row .info h3 {
  font-size: 2rem;
  color: var(--red);
  padding: 1rem 0;
  font-weight: normal;
}
.about .row .info h3 span {
  color: orange;
  padding: 0 0.5rem;
}
.about p {
  display: block;
  text-align: justify;
  color: white;
  justify-content: center;
  font-size: 2.5rem;
  padding-top: 3rem;
  word-spacing: 0.3rem;
  padding-left: 2rem;
  padding-right: 2rem;
}
/*SKILLS*/
#skill {
  font-size: 1.5rem;
  color: #eee;
  justify-content: center;
}

.wrapper {
  width: 400px;
  font-family: "Roboto", sans-serif;
  margin: 0 auto;
}

.skill {
  margin-bottom: 35px;
  position: relative;
  overflow-x: hidden;
}

.skill p {
  color: #eee;
  font-size: 2rem;
  margin-left: 2rem;
  justify-content: center;
}

.skill:before {
  width: 100%;
  height: 10px;
  content: "";
  display: block;
  position: absolute;
  background: #959595;
  bottom: 0;
}

.skill-bar {
  width: 100%;
  height: 10px;
  background: #f4392f;
  display: block;
  position: relative;
}

.skill-bar span {
  position: absolute;
  border-top: 5px solid #f4392f;
  top: -30px;
  padding: 0;
  font-size: 18px;
  padding: 3px 0;
  font-weight: 500;
}

.skill-bar {
  position: relative;
}

.skill1 .skill-count1 {
  right: 0;
}

.skill1 {
  width: 85%;
}

.skill2 {
  width: 75%;
}

.skill2 .skill-count2 {
  right: 0;
}

.skill3 {
  width: 65%;
}

.skill3 .skill-count3 {
  right: 0;
}
.skill4 {
  width: 25%;
}

.skill4 .skill-count4 {
  right: 0;
}

/*EDUCATION*/

.education .box-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1rem 0;
  padding-left: 3rem;
  padding-top: 4rem;
}

.education .box-container .box {
  width: 27rem;
  margin: 4rem 1rem;
  padding-left: 4rem;
  border-left: 0.2rem solid #fff;
  position: relative;
}

.education .box-container .box span {
  font-size: 1.3rem;
  background: #222;
  color: #fff;
  border-radius: 5rem;
  padding: 0.5rem 2.5rem;
}

.education .box-container .box h3 {
  font-size: 2rem;
  color: #fff;
  padding-top: 1.5rem;
}

.education .box-container .box p {
  font-size: 1.4rem;
  color: #eee;
  padding: 1rem 0;
}

.education .box-container .box i {
  position: absolute;
  top: -1.5rem;
  left: -2.5rem;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  line-height: 5rem;
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background: var(--red);
}
/*portfolio*/
.portfolio .box-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2rem 0;
}

.portfolio .box-container .box {
  height: 20rem;
  width: 26rem;
  border-radius: 2rem;
  margin: 2rem;
  overflow: hidden;
  cursor: pointer;
}

.portfolio .box-container .box img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.portfolio .box-container .box:hover img {
  transform: scale(1.5);
}
/*contact*/
.contact .row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.contact .row .content {
  flex: 1 1 30rem;
  padding: 4rem;
  padding-bottom: 0;
}

.contact .row form {
  flex: 1 1 45rem;
  padding: 2rem;
  margin: 2rem;
  margin-bottom: 4rem;
}

.contact .row form .box {
  padding: 1.5rem;
  margin: 1rem 0;
  background: #3333;
  color: #fff;
  text-transform: none;
  font-size: 1.7rem;
  width: 100%;
}

.contact .row form .box::placeholder {
  text-transform: capitalize;
}

.contact .row form .message {
  height: 15rem;
  resize: none;
}

.contact .row .content .title {
  text-transform: uppercase;
  color: #fff;
  font-size: 3rem;
  padding-bottom: 2rem;
}

.contact .row .content .info h3 {
  display: flex;
  align-items: center;
  font-size: 2rem;
  color: #eee;
  padding: 1rem 0;
  font-weight: normal;
  text-transform: lowercase;
}

.contact .row .content .info h3 i {
  padding-right: 1rem;
  color: var(--red);
}

/*media query at 1200px*/
@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }

  .home {
    padding: 1rem 4rem;
  }
}

@media (max-width: 991px) {
  header {
    left: -120%;
  }

  #menu {
    display: block;
  }

  header.toggle {
    left: 0%;
  }

  body {
    padding: 0;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 400px) {
  header {
    width: 100vw;
  }

  .heading {
    margin: 0 3rem;
  }

  .about .row .counter .box {
    width: 100%;
  }

  .education .box-container .box {
    width: 100%;
  }

  .portfolio .box-container .box {
    width: 100%;
  }

  .contact .row form {
    margin: 3rem 0;
  }
}
